# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Benchmarks
code/benchmarks/

# Binaries
code/sat_solver/sat

code/primitives/libsat.a

code/c2D_code/bin/linux/*
!code/c2D_code/bin/linux/hgr2htree

code/c2D_code/bin/darwin/*
!code/c2D_code/bin/darwin/hgr2htree
